@charset "utf-8";
/* CSS Document */


/*
body {
	background-color: white;
	font-family: Baskerville, 'Palatino Linotype', Palatino, 'Century Schoolbook L', 'Times New Roman', 'serif';
	
}*/

#menu {
	cursor: pointer;
	height: 30px;
	margin: 30px 0 20px 34px;
	width: 35px;
}

.bar {
	background-color: orangered;
	border-radius: 5px;
	display: block;
	height: 2px;
	margin-top: 0.3rem;
	transition: 0.3s ease;
	width: 100%;
}

#bar1 {
	transform: translateY(-4px);
}

#bar3 {
	transform: translateY(4px);
}

.nav li a {
	color: white;
	text-decoration: none;
}

.nav li a:hover{
	font-weight: bold;
}

.nav li {
	list-style: none;
	padding: 16px 0;
}

.nav {
	background-color: rgba(0, 0, 0, 0.6);
	display: none;
	padding: 0 11.2rem;;
	margin: 0 20px;
	transition: 0.3s ease;
}

.menu-bg, #menu-bar {
	left: 0;
	position: absolute;
	top: 0;
	
}
.menu-bg {
	background: radial-gadient(circle, #e94498, #b81568);
	border-radius: 50%;
	height: 0;
	margin: 30px 0 20px 20px;
	transition: 0.3s ease;
	width: 0;
	z-index: 1;
}

#menu-bar {
	z-index: 2;
}

.change-bg {
	height: 540px;
	transform: translate(-60%, -30%);
	width: 550px;
}
.change .bar {
	background-color: white;
}

.change #bar1{
	transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3{
	transform: translateY(-8px) rotate(45deg);
}

.change #bar2 {
	opacity: 0;
}

.change {
	display: block;
}











/*

.main-head__nav {
  position: relative;
}

.nav-toggle {
  cursor: pointer;
  display: block;
  position: absolute;
  z-index: 50;
  top: 1em;
  right: 10em;
  width: 4.4em;
  height: 4.4em;
    position: absolute;
    top: 30%;
    left: -4em;
    color: #215d6e;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    &:after {
      content: "Menu";
      opacity: 1;
      transition: opacity 300ms;
    }
    &:before {
      content: "Close";
      position: absolute;
      opacity: 0;
      transition: opacity 300ms;
    }
  
  span,
  span:after,
  span:before {
    content: "";
    display: block;
    position: absolute;
    height: .5em;
    top: 2em;
    left: 0;
    right: 0;
    border-radius: .5em;
    background-color: green;
    transition: transform 300ms, background-color 100ms;
  }
  
  span {
    &:after,
    &:before {
      transition: 400ms;
      transform-origin: .5em;
    }
    &:after {
      top: 1.1em;
    }
    &:before {
      top: -1.1em;
    }
  }
  
  &.active {
    div {
      &:after {
        opacity: 0;
      }
      &:before {
        opacity: 1;
      }
    }
    span {
      transform: rotate(90deg) translate(0.2em, 0);
      background-color: transparent;
      &:after,
      &:before {
        background-color: #676c6f;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  




.main-head__nav {
  position: relative;
}

.nav-toggle {
  cursor: pointer;
  display: block;
  position: absolute;
  z-index: 50;
  top: 1em;
  right: 10em;
  width: 4.4em;
  height: 4.4em;
  div {
    position: absolute;
    top: 30%;
    left: -4em;
    color: #215d6e;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    &:after {
      content: "Menu";
      opacity: 1;
      transition: opacity 300ms;
    }
    &:before {
      content: "Close";
      position: absolute;
      opacity: 0;
      transition: opacity 300ms;
    }
  }
  span,
  span:after,
  span:before {
    content: "";
    display: block;
    position: absolute;
    height: .5em;
    top: 2em;
    left: 0;
    right: 0;
    border-radius: .5em;
    background-color: green;
    transition: transform 300ms, background-color 100ms;
  }
  
  span {
    &:after,
    &:before {
      transition: 400ms;
      transform-origin: .5em;
    }
    &:after {
      top: 1.1em;
    }
    &:before {
      top: -1.1em;
    }
  }
  
  &.active {
    div {
      &:after {
        opacity: 0;
      }
      &:before {
        opacity: 1;
      }
    }
    span {
      transform: rotate(90deg) translate(0.2em, 0);
      background-color: transparent;
      &:after,
      &:before {
        background-color: #676c6f;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }